In [1]:
import pandas as pd
df=pd.read_csv('IPL 2008-2022 data/all_season_bowling_card.csv')

In [2]:
df

,season,match_id,match_name,home_team,away_team,bowling_team,venue,city,country,innings_id,...,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs,captain,href
0,2022,1304047,CSK v KKR,CSK,KKR,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,1,...,20,2,5.0,15,1,1,2,1,False,https://www.espncricinfo.com/ci/content/player...
1,2022,1304047,CSK v KKR,CSK,KKR,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,1,...,35,0,8.75,12,3,2,1,1,False,https://www.espncricinfo.com/ci/content/player...
2,2022,1304047,CSK v KKR,CSK,KKR,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,1,...,23,1,5.75,11,1,1,1,0,False,https://www.espncricinfo.com/ci/content/player...
3,2022,1304047,CSK v KKR,CSK,KKR,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,1,...,15,0,3.75,10,0,0,0,0,False,https://www.espncricinfo.com/ci/content/player...
4,2022,1304047,CSK v KKR,CSK,KKR,KKR,"Wankhede Stadium, Mumbai",Mumbai,India,1,...,38,1,9.5,7,5,1,0,0,False,https://www.espncricinfo.com/ci/content/player...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11218,2008,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,21,0,5.25,13,3,0,0,0,False,https://www.espncricinfo.com/ci/content/player...
11219,2008,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,30,1,7.5,8,3,0,0,0,False,https://www.espncricinfo.com/ci/content/player...
11220,2008,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,25,2,6.25,11,1,0,3,2,False,https://www.espncricinfo.com/ci/content/player...
11221,2008,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,42,0,10.5,7,5,1,1,0,False,https://www.espncricinfo.com/ci/content/player...
11222,2008,336040,CSK v RR,CSK,RR,CSK,"Dr DY Patil Sports Academy, Mumbai",Mumbai,India,2,...,39,2,9.75,8,0,4,0,0,False,https://www.espncricinfo.com/ci/content/player...

In [3]:
df['MatchPlayed']=1
df['balls_bowled']=1

In [4]:
for i in range(len(df)):
    if df.loc[i]['overs']==0.0 or  df.loc[i]['overs']==1.0 or df.loc[i]['overs']==2.0 or df.loc[i]['overs']==3.0 or df.loc[i]['overs']==4.0:
        df.at[i,'balls_bowled']=df.loc[i]['overs']*6
        continue
    if df.loc[i]['overs']>=0.1 and df.loc[i]['overs']<=0.5:
        df.at[i,'balls_bowled']=df.loc[i]['overs']*10
        continue
    if df.loc[i]['overs']>=1.1 and df.loc[i]['overs']<=1.5:
        df.at[i,'balls_bowled']=6+((df.loc[i]['overs']-1)*10)
        continue
    if df.loc[i]['overs']>=2.1 and df.loc[i]['overs']<=2.5:
        df.at[i,'balls_bowled']=12+((df.loc[i]['overs']-2)*10)
        continue
    if df.loc[i]['overs']>=3.1 and df.loc[i]['overs']<=3.5:
        df.at[i,'balls_bowled']=18+((df.loc[i]['overs']-3)*10)
        continue

In [5]:
import numpy as np
df['4W_haul']=np.where(df['wickets']==4,1,0)
df['5W_haul']=np.where(df['wickets']==5,1,0)

In [6]:
bowling=df.groupby(['fullName','season'])['balls_bowled','conceded','wickets','MatchPlayed','4W_haul','5W_haul','dots','foursConceded','sixesConceded','wides','noballs','maidens'].sum().reset_index()
bowling

/var/folders/hq/f_rzh7j51m1ddfp3xw6s1qsr0000gn/T/ipykernel_33758/4206726354.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  bowling=df.groupby(['fullName','season'])['balls_bowled','conceded','wickets','MatchPlayed','4W_haul','5W_haul','dots','foursConceded','sixesConceded','wides','noballs','maidens'].sum().reset_index()

,fullName,season,balls_bowled,conceded,wickets,MatchPlayed,4W_haul,5W_haul,dots,foursConceded,sixesConceded,wides,noballs,maidens
0,Aaron Finch,2010,7.0,5,0,1,0,0,3,0,0,0,0,0
1,Aaron Finch,2011,12.0,13,0,1,0,0,5,1,0,1,0,0
2,Aaron Finch,2013,24.0,49,1,3,0,0,5,3,4,0,0,0
3,Aavishkar Salvi,2009,102.0,134,4,5,0,0,43,10,6,4,0,0
4,Aavishkar Salvi,2011,48.0,66,3,2,0,0,18,8,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1668,Zaheer Khan,2013,36.0,47,5,2,1,0,18,5,2,2,0,0
1669,Zaheer Khan,2014,134.0,146,5,6,0,0,62,14,4,4,0,0
1670,Zaheer Khan,2015,145.0,156,7,7,0,0,76,19,2,10,0,1
1671,Zaheer Khan,2016,262.0,337,10,12,0,0,112,39,7,9,0,1
1672,Zaheer Khan,2017,241.0,313,10,11,0,0,79,31,8,5,0,0

In [7]:
bowling['total_overs_bowled']=(bowling['balls_bowled']//6)+((bowling['balls_bowled']%6)/10)
bowling

,fullName,season,balls_bowled,conceded,wickets,MatchPlayed,4W_haul,5W_haul,dots,foursConceded,sixesConceded,wides,noballs,maidens,total_overs_bowled
0,Aaron Finch,2010,7.0,5,0,1,0,0,3,0,0,0,0,0,1.1
1,Aaron Finch,2011,12.0,13,0,1,0,0,5,1,0,1,0,0,2.0
2,Aaron Finch,2013,24.0,49,1,3,0,0,5,3,4,0,0,0,4.0
3,Aavishkar Salvi,2009,102.0,134,4,5,0,0,43,10,6,4,0,0,17.0
4,Aavishkar Salvi,2011,48.0,66,3,2,0,0,18,8,1,2,0,0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1668,Zaheer Khan,2013,36.0,47,5,2,1,0,18,5,2,2,0,0,6.0
1669,Zaheer Khan,2014,134.0,146,5,6,0,0,62,14,4,4,0,0,22.2
1670,Zaheer Khan,2015,145.0,156,7,7,0,0,76,19,2,10,0,1,24.1
1671,Zaheer Khan,2016,262.0,337,10,12,0,0,112,39,7,9,0,1,43.4
1672,Zaheer Khan,2017,241.0,313,10,11,0,0,79,31,8,5,0,0,40.1

In [8]:
bowling['economy']=np.where(bowling['total_overs_bowled']>0,round(bowling['conceded']/bowling['total_overs_bowled'],2),0)
bowling['strike_rate']=np.where(bowling['wickets']>0,round(bowling['balls_bowled']/bowling['wickets'],2),0)
bowling['average']=np.where(bowling['wickets']>0,round(bowling['conceded']/bowling['wickets'],2),0)

In [9]:
bowling

,fullName,season,balls_bowled,conceded,wickets,MatchPlayed,4W_haul,5W_haul,dots,foursConceded,sixesConceded,wides,noballs,maidens,total_overs_bowled,economy,strike_rate,average
0,Aaron Finch,2010,7.0,5,0,1,0,0,3,0,0,0,0,0,1.1,4.55,0.00,0.00
1,Aaron Finch,2011,12.0,13,0,1,0,0,5,1,0,1,0,0,2.0,6.50,0.00,0.00
2,Aaron Finch,2013,24.0,49,1,3,0,0,5,3,4,0,0,0,4.0,12.25,24.00,49.00
3,Aavishkar Salvi,2009,102.0,134,4,5,0,0,43,10,6,4,0,0,17.0,7.88,25.50,33.50
4,Aavishkar Salvi,2011,48.0,66,3,2,0,0,18,8,1,2,0,0,8.0,8.25,16.00,22.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1668,Zaheer Khan,2013,36.0,47,5,2,1,0,18,5,2,2,0,0,6.0,7.83,7.20,9.40
1669,Zaheer Khan,2014,134.0,146,5,6,0,0,62,14,4,4,0,0,22.2,6.58,26.80,29.20
1670,Zaheer Khan,2015,145.0,156,7,7,0,0,76,19,2,10,0,1,24.1,6.47,20.71,22.29
1671,Zaheer Khan,2016,262.0,337,10,12,0,0,112,39,7,9,0,1,43.4,7.76,26.20,33.70
1672,Zaheer Khan,2017,241.0,313,10,11,0,0,79,31,8,5,0,0,40.1,7.81,24.10,31.30

In [10]:
bowling['Quality']=np.where(bowling['strike_rate']*bowling['economy']>0,round(100/(bowling['economy']*bowling['strike_rate']),2),0)
bowling['Frequency']=np.where(bowling['MatchPlayed']>0,round(bowling['balls_bowled']/bowling['MatchPlayed'],2),0)
bowling['Bowling_Player_Impact']=round(bowling['Quality']*bowling['Frequency'],2)
bowling['4W_factor']=np.where(bowling['MatchPlayed']>0,round(bowling['4W_haul']/bowling['MatchPlayed'],2),0)
bowling['5W_factor']=np.where(bowling['MatchPlayed']>0,round(bowling['5W_haul']/bowling['MatchPlayed'],2),0)
bowling['Bowling_Impact_Score']=round(bowling['Bowling_Player_Impact']+(bowling['Bowling_Player_Impact']*bowling['5W_factor'])+(bowling['Bowling_Player_Impact']*bowling['4W_factor']/2),2)
bowling

,fullName,season,balls_bowled,conceded,wickets,MatchPlayed,4W_haul,5W_haul,dots,foursConceded,...,total_overs_bowled,economy,strike_rate,average,Quality,Frequency,Bowling_Player_Impact,4W_factor,5W_factor,Bowling_Impact_Score
0,Aaron Finch,2010,7.0,5,0,1,0,0,3,0,...,1.1,4.55,0.00,0.00,0.00,7.00,0.00,0.0,0.0,0.00
1,Aaron Finch,2011,12.0,13,0,1,0,0,5,1,...,2.0,6.50,0.00,0.00,0.00,12.00,0.00,0.0,0.0,0.00
2,Aaron Finch,2013,24.0,49,1,3,0,0,5,3,...,4.0,12.25,24.00,49.00,0.34,8.00,2.72,0.0,0.0,2.72
3,Aavishkar Salvi,2009,102.0,134,4,5,0,0,43,10,...,17.0,7.88,25.50,33.50,0.50,20.40,10.20,0.0,0.0,10.20
4,Aavishkar Salvi,2011,48.0,66,3,2,0,0,18,8,...,8.0,8.25,16.00,22.00,0.76,24.00,18.24,0.0,0.0,18.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1668,Zaheer Khan,2013,36.0,47,5,2,1,0,18,5,...,6.0,7.83,7.20,9.40,1.77,18.00,31.86,0.5,0.0,39.83
1669,Zaheer Khan,2014,134.0,146,5,6,0,0,62,14,...,22.2,6.58,26.80,29.20,0.57,22.33,12.73,0.0,0.0,12.73
1670,Zaheer Khan,2015,145.0,156,7,7,0,0,76,19,...,24.1,6.47,20.71,22.29,0.75,20.71,15.53,0.0,0.0,15.53
1671,Zaheer Khan,2016,262.0,337,10,12,0,0,112,39,...,43.4,7.76,26.20,33.70,0.49,21.83,10.70,0.0,0.0,10.70
1672,Zaheer Khan,2017,241.0,313,10,11,0,0,79,31,...,40.1,7.81,24.10,31.30,0.53,21.91,11.61,0.0,0.0,11.61

In [12]:
bowling.rename(columns={'strike_rate':'Bowling_strike_rate','Quality':'Bowling_Quality','Frequency':'Bowling_Frequency'},inplace=True)

In [13]:
bowling.to_csv('Bowling_Features_IPL.csv',index=False)